<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDBEntities" connectionString="metadata=res://EFTestForWCF/EFTestModel.csdl|res://EFTestForWCF/EFTestModel.ssdl|res://*/EFTestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=陈勇\CY;initial catalog=testdb;user id=luke;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="userServiceEndPoint" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="userServiceEndPoint1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2001/UserService" binding="basicHttpBinding"
        bindingConfiguration="userServiceEndPoint" contract="Service.IUserService"
        name="userServiceEndPoint" />
      <endpoint address="http://localhost:2001/UserService" binding="basicHttpBinding"
        bindingConfiguration="userServiceEndPoint1" contract="ServiceReference1.IUserService"
        name="userServiceEndPoint1" />
    </client>
  </system.serviceModel>
</configuration>