@model LM.Models.FeedBack
@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Name">姓名</label>
        <div>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>

    <div>
        <label asp-for="Email">邮箱</label>
        <div>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>

    <div>
        <label asp-for="Message">评价</label>
        <div>
            <input asp-for="Message" />
            <span asp-validation-for="Message"></span>
        </div>
    </div>

    <div>
        <input type="submit" value="提交" />
    </div>
</form>

